<ngx-primer-accordion-root>
  <ngx-primer-accordion-item #accordionItems>
    <ngx-primer-accordion-trigger #accordionTrigger/>
    <ngx-primer-accordion-content #accordionContent/>
  </ngx-primer-accordion-item>
  <ngx-primer-accordion-item #accordionItems>
    <ngx-primer-accordion-trigger #accordionTrigger/>
    <ngx-primer-accordion-content #accordionContent/>
  </ngx-primer-accordion-item>
  <ngx-primer-accordion-item #accordionItems>
    <ngx-primer-accordion-trigger #accordionTrigger/>
    <ngx-primer-accordion-content #accordionContent/>
  </ngx-primer-accordion-item>
  <ngx-primer-accordion-item #accordionItems>
    <ngx-primer-accordion-trigger #accordionTrigger/>
    <ngx-primer-accordion-content #accordionContent/>
  </ngx-primer-accordion-item>
  <ngx-primer-accordion-item #accordionItems>
    <ngx-primer-accordion-trigger #accordionTrigger/>
    <ngx-primer-accordion-content #accordionContent/>
  </ngx-primer-accordion-item>
  <div #accordionItems>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rem dolores neque itaque tempore nulla obcaecati voluptatibus odio dignissimos odit aliquam, eos voluptate perspiciatis deserunt laboriosam expedita accusamus nobis vel.
  </div>
</ngx-primer-accordion-root>