<app-docs-layout>
  <section left-section>
    <div class="flex flex-col">
      <ng-container
        *ngFor="let item of appSideMenuItems$ | async; trackBy: trackByItem"
      >
        <ng-container *ngIf="item.children; else noChildren">
          <a
            [routerLink]="item.path"
            style="cursor: pointer"
            class="!hover:cursor-pointer mb-2 hover:font-bold hover:text-blue-700"
            routerLinkActive="font-bold text-blue-700"
            >{{ item.title }}</a
          >
        </ng-container>
        <ng-template #noChildren>
          <p
            style="cursor: pointer"
            class="!hover:cursor-pointer mb-2 hover:font-bold hover:text-blue-700"
            routerLinkActive="font-bold text-blue-700"
            >{{ item.title }}</p
          >
        </ng-template>
        <ng-container *ngIf="item.children">
          <ng-container
            *ngFor="let child of item.children; trackBy: trackByChild"
          >
            <a
              [routerLink]="item.path + '/' + child.path"
              style="cursor: pointer"
              class="!hover:cursor-pointer"
              routerLinkActive="text-blue-700 font-bold"
              [routerLinkActiveOptions]="{ exact: true }"
              >{{ child.title }}</a
            >
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </section>
  <section main-section>
    <ng-container *ngIf="appPageContentService.pageContent$ | async as pageMeta">
      <div class="flex flex-row gap-x-2 items-center mb-8">        
        <h1 class="text-2xl font-bold">{{ pageMeta.pageTitle! | pageTitle }}</h1>
        <span>></span>
        <h1 class="text-2xl">{{ pageMeta.pageSubtitle! | pageTitle }}</h1>
      </div>
    </ng-container>
    <router-outlet />
  </section>
  <section right-section>
    <!-- TOC Here -->
  </section>
</app-docs-layout>
