import { Component } from '@angular/core';

@Component({
  selector: 'app-<%= fileName %>',
  templateUrl: './<%= fileName %>.component.html',
  styleUrls: ['./<%= fileName %>.component.scss'],
})
export class <%= className %>Component {
}
