<header class="border-b border-none w-full">
  <div class="container mx-auto px-6 py-3">
    <div class="flex items-center justify-between">
      <div class="text-xl font-semibold text-gray-700">
        <a routerLink="/" class="hover:text-gray-50 text-gray-200">NgxPrimer</a>
      </div>
      <div class="text-sm font-semibold text-gray-700">
        <a href="#" class="mx-4 text-gray-400">Guide</a>
        <a href="#" class="mx-4 text-gray-400">Reference</a>
      </div>
    </div>
  </div>
</header>
