<h1 class="text-4xl font-bold mb-4">{{ pageTitle$ | async }}</h1>

@if (pageContentError$ | async) {
  <div>error while fetching content</div>
}
@else {
  @for (section of pageSections; track $index) {
    <section class="mt-8">
      <h2 class="text-2xl font-semibold mb-2">{{ section.title }}</h2>
      @if(section.items.length) {
        @for (item of section.items; track $index) {
          @switch (item.type) {
            @case ('text') {
              <p class="text-lg text-gray-700 mb-4">{{ item.data }}</p>
            }
            @case ('list') {
              <ul class="list-disc list-inside text-lg text-gray-700 mb-4">
                @for (listItem of (item.data || []); track $index) {
                  <li>{{ listItem }}</li>
                }
              </ul>
            }
          }
        }
      }
    </section>
  }
}

